.formMain {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBox {
    max-height: 600px;
    width: 400px;
    box-shadow: 4px 4px 8px 2px #bac3ca;
    border: 1px solid #a09797;
    border-radius: 4px;
}
.loginText {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-top: 12px;
    color: #0e57a2;
}
.emailLabel {
    display: block;
    font-size: 18px;
}
.passLabel {
    display: block;
    font-size: 18px;
}

.submitButton {
    margin-top: 20px;
}
/* .emailInput {
    width: 360px;
    border: 1px solid #79859c;
    border-radius: 4px;
    padding: 6px;
    transition: 0.2s all;
}
.emailInput:focus {
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid grey;
    transition: 0.1s all;
} */